<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.courseshop.CourseCollectMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.courseshop.CourseCollect" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="courseId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="orgId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="operatorId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createDate" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="tenantId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, courseId, orgId, operatorId, createDate, tenantId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coursecollect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from coursecollect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.courseshop.CourseCollect" >
    insert into coursecollect (id, courseId, orgId, 
      operatorId, createDate, tenantId
      )
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=BIGINT}, #{orgId,jdbcType=INTEGER}, 
      #{operatorId,jdbcType=INTEGER}, #{createDate,jdbcType=DATE}, #{tenantId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.courseshop.CourseCollect" >
    insert into coursecollect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseId != null" >
        courseId,
      </if>
      <if test="orgId != null" >
        orgId,
      </if>
      <if test="operatorId != null" >
        operatorId,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="tenantId != null" >
        tenantId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.courseshop.CourseCollect" >
    update coursecollect
    <set >
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        orgId = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        operatorId = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=DATE},
      </if>
      <if test="tenantId != null" >
        tenantId = #{tenantId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.courseshop.CourseCollect" >
    update coursecollect
    set courseId = #{courseId,jdbcType=BIGINT},
      orgId = #{orgId,jdbcType=INTEGER},
      operatorId = #{operatorId,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=DATE},
      tenantId = #{tenantId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findByExample" parameterType="map" resultType="com.elearning.pojo.courseshop.CourseCollect">
    SELECT <include refid="Base_Column_List"/>
    from coursecollect
    where 1 = 1
    <if test="courseId != null ">
      and courseId = #{courseId,jdbcType=BIGINT}
    </if>
    <if test="operatorId != null ">
      and operatorId = #{operatorId,jdbcType=INTEGER}
    </if>
    <if test="orgId != null ">
      and orgId = #{orgId,jdbcType=INTEGER}
    </if>
  </select>

</mapper>