<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.systemManage.UserResourceMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.systemManage.UserResource" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="operatorId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="resourceId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="DATE" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, operatorId, resourceId, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_resource
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_resource
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.systemManage.UserResource" >
    insert into user_resource (ID, operatorId, resourceId, 
      createTime)
    values (#{ID,jdbcType=INTEGER}, #{operatorId,jdbcType=INTEGER}, #{resourceId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.systemManage.UserResource" >
    insert into user_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="operatorId != null" >
        operatorId,
      </if>
      <if test="resourceId != null" >
        resourceId,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.systemManage.UserResource" >
    update user_resource
    <set >
      <if test="operatorId != null" >
        operatorId = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="resourceId != null" >
        resourceId = #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.systemManage.UserResource" >
    update user_resource
    set operatorId = #{operatorId,jdbcType=INTEGER},
      resourceId = #{resourceId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=DATE}
    where ID = #{ID,jdbcType=INTEGER}
  </update>

  <select id="findByOperatorId" resultType="com.elearning.pojo.systemManage.UserResource" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_resource
    where operatorId = #{operatorId,jdbcType=INTEGER} group by resourceId order by createTime
  </select>

</mapper>