<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.coursemanage.CourseKeytagMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.coursemanage.CourseKeytagKey" >
    <constructor >
      <idArg column="courseId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <idArg column="keyWords" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.elearning.pojo.coursemanage.CourseKeytagKey" >
    delete from course_keytag
    where courseId = #{courseId,jdbcType=BIGINT}
      and keyWords = #{keyWords,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.elearning.pojo.coursemanage.CourseKeytagKey" >
    insert into course_keytag (courseId, keyWords)
    values (#{courseId,jdbcType=BIGINT}, #{keyWords,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.coursemanage.CourseKeytagKey" >
    insert into course_keytag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        courseId,
      </if>
      <if test="keyWords != null" >
        keyWords,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="keyWords != null" >
        #{keyWords,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="findByCourseId" resultType="com.elearning.pojo.coursemanage.CourseKeytagKey">
    select * from course_keytag where courseId = #{courseId}
  </select>
</mapper>