@charset "GB2312";
/* CSS Document */
div.homezoneall{background:white;font-size:14px;border:1px solid #d4d4d4;margin:0 auto 0px;position:relative;overflow:hidden;min-height:250px;}
div.homezoneall .homezonehead{height:37px;width:100%;background:url('/image/formup.png') repeat-x;border-bottom:1px solid #d4d4d4;}
div.homezoneall .homezonetitle{line-height:37px;margin-left:24px;font-weight:700;}
div.homezoneall .homezonemore{float:right;border:1px solid #d4d4d4;position:absolute;top:11px;right:20px;height:15px;}
div.homezoneall .homezonemore img{margin:5px 10px;}
div.homezonecontent{+margin-top:30px;_margin-top:0;font-size:13px;display:block;}
.homezonecontentborder{border:1px solid #d4d4d4;}
table.homecontenttable {color:#666;width:100%;text-align:center;border-collapse:collapse;border-bottom: 1px solid #d4d4d4;}
table.homecontenttable tr{height:38px;line-height:38px;}
table.homecontenttable tr td{border:1px solid #d4d4d4;border-left:1px solid #d4d4d4;}/*table th栏没有边框,td栏有*/
table.homecontenttable tr td.operatorName{padding-left:20px;text-align:left;}
table.homecontenttable tr.tableOdd {background:#fff;}
table.homecontenttable tr.tableEven{background:#f9f9f9;}
table.homecontenttable tr:hover{background-color:#bbccee;}
table.homecontenttable tr.content_tr:hover{background-color:#bbccee !important;}
table.homecontenttable tr.tableTh{background-color:#C8C8C8;height:36px;line-height:36px;}
table.homecontenttable .tableTh th{border:1px solid #dcdcdc;font-size:12px;}
div.mainHidden{clear:both;width:100%;display:none;}
div.button{font-family:"宋体";cursor:pointer;padding-left:12px;padding-right:12px;height:28px;background:url('/image/button2Bg.png');text-align:center;line-height:28px;color:white;font-weight:500;font-size:12px;filter:alpha(opacity=90);opacity:0.9;}
div.button{float:right;position:relative;right:27px;margin:10px 20px 10px 0;}
div.button:hover{filter:alpha(opacity=100);opacity:1;}
div.homezonecontent div.addNew{margin:10px auto 10px 10px;+margin-top:-20px;_margin-top:0;}
div.homezonecontent div.addEdit{margin:20px auto 20px 30px;font-size:13px}
div.button1{display:inline-block;zoom:1;*display:inline;margin:0 40px;cursor:pointer;width:96px;height:29px;background:url('/image/button2Bg.png');text-align:center;line-height:29px;color:white;font-weight:700;font-size:14px;}
div.detailMod{font-size:13px;padding-top:5px;}
div.detailMod a{text-decoration:none;color:#7087c9;}
div.detailMod span{margin-left:15px;color:#d1d1d1;}
div.homezonecontent .shortInput{width:200px;}
div.homezonecontent .longInput{width:492px;}
/*div.homezonecontent .textInput{vertical-align:middle;font-size:14px;height:25px;line-height:25px;border:1px solid #ccc;}
*/

.textInput{border:1px #ccc solid;height:21px;line-height:21px;font-size:13px}
.areaInput{border:1px #ccc solid; overflow:auto;font-size:13px}
select.selectStyle{font-size:13px;height:25px;line-height:25px;border:1px solid #ccc;padding:1px 0 2px;padding:4px 0 2px\9;*behavior: url(/js/jianyueStyle/select.htc);}
.leftInput{float:left;margin-left:100px;}

span .rightMar{margin-right:100px;}
span .rightMar1{margin-right:50px;}
.newshidden{display:none;}
.ptext{font-size:16px;
font-weight:700;
margin-top:5px;
*margin-top:0;
color:#777;
}
.ctext{font-size:13px;
font-weight:700;
margin-top:5px;
*margin-top:0;
color:#777;
}
.ctext1{font-size:13px;
font-weight:400;
*margin-top:0;
color:#777;
}
.ptext1{font-size:16px;
font-weight:700;
margin-top:5px;
*margin-top:10px;
color:#777;
}
#synCourse {
	position:absolute;
	width:200px;
	height:150px;
	z-index:1;
	left: 56px;
	top: 20px;
}
#synTeacher {
	position:absolute;
	width:200px;
	height:150px;
	z-index:2;
	left: 373px;
	top: 20px;
}
#cite_tipTemplate {
	position:absolute;
	left:206px;
	top:477px;
	width:282px;
	height:49px;
	z-index:3;
}
form
	{
	margin:0;
}

td{
	line-height: 140%;		
	text-decoration:none;
	font-size: 12px;
}

.td_top {
	margin:0 auto;
	height:20px;
	background-image: url(/image/main/index_08.jpg);
	padding-top:4px;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	line-height: 140%;		
	text-decoration:none;
	text-align: center;
}

.td_l {
	height:24px;
	padding-top:4px;
	padding-left:10px;
	border: 1px solid #f1f2f3;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	line-height: 140%;		
	text-decoration:none;
	text-align: left;}
	
	
.td_blank {
}
