<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.trainNeeds.TnQuestionnAireItemChoiceMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.trainNeeds.TnQuestionnAireItemChoice" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="itemID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="choiceNO" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="choiceContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="allowOtherInput" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="choiceCode" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, itemID, choiceNO, choiceContent, allowOtherInput, choiceCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tn_questionnaireitemchoice
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tn_questionnaireitemchoice
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.trainNeeds.TnQuestionnAireItemChoice" >
    insert into tn_questionnaireitemchoice (ID, itemID, choiceNO, 
      choiceContent, allowOtherInput, choiceCode
      )
    values (#{ID,jdbcType=INTEGER}, #{itemID,jdbcType=INTEGER}, #{choiceNO,jdbcType=INTEGER}, 
      #{choiceContent,jdbcType=VARCHAR}, #{allowOtherInput,jdbcType=INTEGER}, #{choiceCode,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.trainNeeds.TnQuestionnAireItemChoice" >
    insert into tn_questionnaireitemchoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="itemID != null" >
        itemID,
      </if>
      <if test="choiceNO != null" >
        choiceNO,
      </if>
      <if test="choiceContent != null" >
        choiceContent,
      </if>
      <if test="allowOtherInput != null" >
        allowOtherInput,
      </if>
      <if test="choiceCode != null" >
        choiceCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="itemID != null" >
        #{itemID,jdbcType=INTEGER},
      </if>
      <if test="choiceNO != null" >
        #{choiceNO,jdbcType=INTEGER},
      </if>
      <if test="choiceContent != null" >
        #{choiceContent,jdbcType=VARCHAR},
      </if>
      <if test="allowOtherInput != null" >
        #{allowOtherInput,jdbcType=INTEGER},
      </if>
      <if test="choiceCode != null" >
        #{choiceCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.trainNeeds.TnQuestionnAireItemChoice" >
    update tn_questionnaireitemchoice
    <set >
      <if test="itemID != null" >
        itemID = #{itemID,jdbcType=INTEGER},
      </if>
      <if test="choiceNO != null" >
        choiceNO = #{choiceNO,jdbcType=INTEGER},
      </if>
      <if test="choiceContent != null" >
        choiceContent = #{choiceContent,jdbcType=VARCHAR},
      </if>
      <if test="allowOtherInput != null" >
        allowOtherInput = #{allowOtherInput,jdbcType=INTEGER},
      </if>
      <if test="choiceCode != null" >
        choiceCode = #{choiceCode,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.trainNeeds.TnQuestionnAireItemChoice" >
    update tn_questionnaireitemchoice
    set itemID = #{itemID,jdbcType=INTEGER},
      choiceNO = #{choiceNO,jdbcType=INTEGER},
      choiceContent = #{choiceContent,jdbcType=VARCHAR},
      allowOtherInput = #{allowOtherInput,jdbcType=INTEGER},
      choiceCode = #{choiceCode,jdbcType=CHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>