<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.trainNeeds.TnUserReplyQuestionnAireMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.trainNeeds.TnUserReplyQuestionnAire" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sex" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ageSection" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="business" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="basicInfoID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="submitDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, userID, sex, ageSection, business, basicInfoID, submitDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tn_userreplyquestionnaire
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tn_userreplyquestionnaire
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.trainNeeds.TnUserReplyQuestionnAire" >
    insert into tn_userreplyquestionnaire (ID, userID, sex, 
      ageSection, business, basicInfoID, 
      submitDate)
    values (#{ID,jdbcType=INTEGER}, #{userID,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, 
      #{ageSection,jdbcType=INTEGER}, #{business,jdbcType=INTEGER}, #{basicInfoID,jdbcType=INTEGER}, 
      #{submitDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.trainNeeds.TnUserReplyQuestionnAire" >
    insert into tn_userreplyquestionnaire
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="userID != null" >
        userID,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="ageSection != null" >
        ageSection,
      </if>
      <if test="business != null" >
        business,
      </if>
      <if test="basicInfoID != null" >
        basicInfoID,
      </if>
      <if test="submitDate != null" >
        submitDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="userID != null" >
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="ageSection != null" >
        #{ageSection,jdbcType=INTEGER},
      </if>
      <if test="business != null" >
        #{business,jdbcType=INTEGER},
      </if>
      <if test="basicInfoID != null" >
        #{basicInfoID,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.trainNeeds.TnUserReplyQuestionnAire" >
    update tn_userreplyquestionnaire
    <set >
      <if test="userID != null" >
        userID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="ageSection != null" >
        ageSection = #{ageSection,jdbcType=INTEGER},
      </if>
      <if test="business != null" >
        business = #{business,jdbcType=INTEGER},
      </if>
      <if test="basicInfoID != null" >
        basicInfoID = #{basicInfoID,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        submitDate = #{submitDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.trainNeeds.TnUserReplyQuestionnAire" >
    update tn_userreplyquestionnaire
    set userID = #{userID,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      ageSection = #{ageSection,jdbcType=INTEGER},
      business = #{business,jdbcType=INTEGER},
      basicInfoID = #{basicInfoID,jdbcType=INTEGER},
      submitDate = #{submitDate,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>