<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.integralTask.IntegralOnlineStudyCollectMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.integralTask.IntegralOnlineStudyCollect" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="collectHistoryIds" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dayId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="totalMillons" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ruleId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="totalScore" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="updateTimeStamp" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, collectHistoryIds, dayId, totalMillons, ruleId, totalScore, status, updateTimeStamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from integral_onlinestudy_collect
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from integral_onlinestudy_collect
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.integralTask.IntegralOnlineStudyCollect" >
    insert into integral_onlinestudy_collect (id, userId, collectHistoryIds, 
      dayId, totalMillons, ruleId, 
      totalScore, status, updateTimeStamp
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{collectHistoryIds,jdbcType=VARCHAR}, 
      #{dayId,jdbcType=VARCHAR}, #{totalMillons,jdbcType=BIGINT}, #{ruleId,jdbcType=BIGINT}, 
      #{totalScore,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, #{updateTimeStamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.integralTask.IntegralOnlineStudyCollect" >
    insert into integral_onlinestudy_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="collectHistoryIds != null" >
        collectHistoryIds,
      </if>
      <if test="dayId != null" >
        dayId,
      </if>
      <if test="totalMillons != null" >
        totalMillons,
      </if>
      <if test="ruleId != null" >
        ruleId,
      </if>
      <if test="totalScore != null" >
        totalScore,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTimeStamp != null" >
        updateTimeStamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="collectHistoryIds != null" >
        #{collectHistoryIds,jdbcType=VARCHAR},
      </if>
      <if test="dayId != null" >
        #{dayId,jdbcType=VARCHAR},
      </if>
      <if test="totalMillons != null" >
        #{totalMillons,jdbcType=BIGINT},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTimeStamp != null" >
        #{updateTimeStamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.integralTask.IntegralOnlineStudyCollect" >
    update integral_onlinestudy_collect
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="collectHistoryIds != null" >
        collectHistoryIds = #{collectHistoryIds,jdbcType=VARCHAR},
      </if>
      <if test="dayId != null" >
        dayId = #{dayId,jdbcType=VARCHAR},
      </if>
      <if test="totalMillons != null" >
        totalMillons = #{totalMillons,jdbcType=BIGINT},
      </if>
      <if test="ruleId != null" >
        ruleId = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="totalScore != null" >
        totalScore = #{totalScore,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTimeStamp != null" >
        updateTimeStamp = #{updateTimeStamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.integralTask.IntegralOnlineStudyCollect" >
    update integral_onlinestudy_collect
    set userId = #{userId,jdbcType=BIGINT},
      collectHistoryIds = #{collectHistoryIds,jdbcType=VARCHAR},
      dayId = #{dayId,jdbcType=VARCHAR},
      totalMillons = #{totalMillons,jdbcType=BIGINT},
      ruleId = #{ruleId,jdbcType=BIGINT},
      totalScore = #{totalScore,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      updateTimeStamp = #{updateTimeStamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>