<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.plan.TpTrainPlanFileMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.plan.TpTrainPlanFile" >
    <constructor >
      <idArg column="fileID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="trainPlanID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fileName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uploadTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="fileURL" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    fileID, trainPlanID, fileName, uploadTime, fileURL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tp_trainplanfile
    where fileID = #{fileID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tp_trainplanfile
    where fileID = #{fileID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.plan.TpTrainPlanFile" >
    insert into tp_trainplanfile (fileID, trainPlanID, fileName, 
      uploadTime, fileURL)
    values (#{fileID,jdbcType=BIGINT}, #{trainPlanID,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{fileURL,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.plan.TpTrainPlanFile" >
    insert into tp_trainplanfile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileID != null" >
        fileID,
      </if>
      <if test="trainPlanID != null" >
        trainPlanID,
      </if>
      <if test="fileName != null" >
        fileName,
      </if>
      <if test="uploadTime != null" >
        uploadTime,
      </if>
      <if test="fileURL != null" >
        fileURL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileID != null" >
        #{fileID,jdbcType=BIGINT},
      </if>
      <if test="trainPlanID != null" >
        #{trainPlanID,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileURL != null" >
        #{fileURL,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.plan.TpTrainPlanFile" >
    update tp_trainplanfile
    <set >
      <if test="trainPlanID != null" >
        trainPlanID = #{trainPlanID,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        fileName = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        uploadTime = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileURL != null" >
        fileURL = #{fileURL,jdbcType=VARCHAR},
      </if>
    </set>
    where fileID = #{fileID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.plan.TpTrainPlanFile" >
    update tp_trainplanfile
    set trainPlanID = #{trainPlanID,jdbcType=BIGINT},
      fileName = #{fileName,jdbcType=VARCHAR},
      uploadTime = #{uploadTime,jdbcType=TIMESTAMP},
      fileURL = #{fileURL,jdbcType=VARCHAR}
    where fileID = #{fileID,jdbcType=BIGINT}
  </update>
</mapper>