#simpleNavBar{
	position: fixed;
    top: 0px;
}

#backgroundImg{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
}

#backgroundImg img{
	position:fixed;
	width:100%;
	height:100%;
	-webkit-filter: blur(2px); 
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);    
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);
	top:0px;
}

#bufferMask{
	position:fixed;
	width:100%;
	height:100%;
	-ms-filter:progid:DXImageTransform.Microsoft.Gradient(GradientType =0, startColorStr=#969696 , endColorStr=#ffffff );
		   alpha(opacity=0 , finishopacity=80 , style=2 ,startx=0 ,  starty=0 , finishx=0 , finishy=100%);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType =0, startColorStr=#969696 , endColorStr=#ffffff );
		   alpha(opacity=0 finishopacity=80 style=2 startx=0,starty=0,finishx=0,finishy=100%);
	background:rgba(220,220,220,0.7);
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(150, 150, 150,0.5)), to(rgba(255, 255, 255, 1)));
    background:-moz-linear-gradient(top, rgba(150, 150, 150,0.5), rgba(255, 255, 255, 1)); 
    background:-ms-linear-gradient(top, rgba(150, 150, 150,0.5), rgba(255, 255, 255, 1)); 
    background:-o-linear-gradient(top, rgba(150, 150, 150,0.5), rgba(255, 255, 255, 1)); 
	top:0px;
}

#main{
    width:940px;
	padding:0px 20px;
    margin:0 auto;
    overflow: hidden;
}


#statistics {
	width:978px;
	height:180px;
	margin:20px auto;
	padding-top:0;	
	border:1px #CCCCCC solid;	

}
.classify{
	width:978px;
	height:60px;
	text-align:center;
	line-height:80px;
	margin:0 auto;
	background:#f9f9f9;
	padding-top:20px;
}
.cl{

	width:978px;
	height:40px;
	padding-top:10px;
	background:#f9f9f9;
}

.cl_div{
	background:#f9f9f9;
	width:100px;
	height:30px;
	line-height:30px;
	color:#333333;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	border-right:1px #CCCCCC solid;
	float:left;
	padding-left:35px;
	
}
.cl_div a{
	line-height:30px;
	color:#333333;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	
}
.cl_div_1{
	background:url(/image/student/cl_div_1.jpg) no-repeat 35px 45%;
}
.cl_div_1 a{
		color:#3a80c1;	
}

.cl_div_2{
	background: url(/image/student/cl_div_22.jpg) no-repeat 20px 45%;
}

.cl_div_3{
	background: url(/image/student/cl_div_32.jpg) no-repeat 17px 45%;
	border-right:0px;		
}



.field{

	width:938px;
	height:50px;
	
	background:#fff;
}

.line{

	width:938px;
	height:49px;
	border-bottom:thin #CCCCCC solid;
	line-height:49px;
	color:#333333;
	font-size:14px;
	display:block;
	margin:0 auto;
}

.fs{

	width:40px;
	height:49px;
	color:#333333;
	font-size:14px;
}

.line a{
	line-height:30px;
	color:#666;
	font-size:14px;
	text-align:center;
	font-weight:normal;
	margin:0 5px;
	
}
.from{

	width:938px;
	height:49px;
	margin:0 auto;	
	background:#fff;
}

.line1{

	width:938px;
	height:49px;
	
	line-height:50px;
	color:#333333;
	font-size:14px;

}

.line1 a{
	line-height:30px;
	color:#666;
	font-size:14px;
	text-align:center;
	font-weight:normal;
	margin:0 5px;
	
}
/*********列表 搜索************/
#sponsor{
	/*width:835px;*/
	min-height:60px;
	padding-left:90px;
	padding-right:15px;
	margin-top:30px;
	position:relative;
}
.sponsor_left {
	/*float:left;*/
	width:500px;
	height:180px;
	
}
.sponsor_left h3{
	line-height:30px;
	
}
.sponsor_left_table{
	float:left;
	width:400px;
	/*height:150px;*/
	padding-left: 28px;
}

.sponsor_left_table table tr {
	height:25px;
	line-height:25px;	
	text-align:left;	
	font-size:14px;	
}

.sponsor_right {
	float:right;
	width:200px;
	height:180px;
	padding-right:15px;	
	position: absolute;
    top: 10px;
    right: 40px;
}

.train_unsignupBtn{
	width:210px;
	height:50px;
	letter-spacing: 5px;
	background:	url(/image/training/greyButtonbg.jpg) repeat-x;
	line-height:50px;	
	text-align:center;
	font-size:16px;	
	font-weight:bold;	
	color:#fff;
	margin-top:20px;
	margin-bottom:20px;
}

.train_signupBtn{
	width:170px;
	height:50px;
	background:	url(/image/training/trainingProjectContent52.jpg) repeat-x;
	line-height:50px;	
	text-align:center;
	font-size:16px;	
	font-weight:bold;	
	color:#fff;
	margin-top:20px;
	margin-bottom:20px;
}
.train_signupBtnOnline{
	width:170px;
	height:50px;
	background:	#268EFF;
	line-height:50px;	
	text-align:center;
	font-size:16px;	
	font-weight:bold;	
	color:#fff;
	margin-top:88px;
	margin-bottom:20px;
}

.score_value {
	width:170px;
	height:20px;
	background:	url(/image/training/0-star.png) right center no-repeat;
	line-height:20px;	
	text-align:left;
	font-size:12px;	
	font-weight:normal;
	margin-left:15px;		
}
.star-rating{
	
	display:none;
}
.score_num{
	width:170px;
	height:20px;
	line-height:20px;	
	text-align:center;
	font-size:12px;	
	margin-left:15px;	
		
}

	
#target{
	min-height:80px;
	padding-left:90px;
	margin-top:30px;
	line-height:75px;
    overflow:hidden;		
	
}
#target p{
	line-height:25px;
	text-align:left;
	vertical-align:middle;
    display:table-cell;	
    width:700px;
}

#content{
	min-height:80px;
	padding-left:90px;
	margin-top:30px;
	text-align:left;
    overflow:hidden;
}

#content p{
	line-height:25px;
	text-align:left;
	vertical-align:middle;
    display:table-cell;
    width:700px;
}

#object{
	min-height:80px;
	padding-left:90px;
	margin-top:30px;
	line-height:75px;	
	text-align:left;
    overflow:hidden;
}
#object p{
	line-height:25px;
	text-align:left;
	vertical-align:middle;
    display:table-cell; 	
     width:700px;
}

#comment{
	min-height:80px;
	padding-left:90px;
	margin-top:30px;
	text-align:left;
    overflow:hidden;
}

#comment p{
	line-height:25px;
	text-align:left;
	vertical-align:middle;
	 width:700px;
   /* display:table-cell;*/
}
/***********table************/


#taining_time{
	height:auto;
	padding-left:90px;
	padding-right:40px;
	background:url(/image/training/trainingProjectContent44.jpg) left top no-repeat;
	margin-top:30px;
	line-height:75px;	
	text-align:left;
	display:table;
}
#taining_time h3{
	height:65px;
	line-height:65px;
	color:#5297ff;
}


#taining_time_table table{
	
	border-collapse: collapse;
}


#taining_time_table table tr {
	height:25px;
	line-height:25px;
	
}

#taining_time_table2 table{

	border-collapse: collapse;
}


#taining_time_table2 table tr {
	height:25px;
	line-height:25px;

}

 
#pagebody {
	background: none;
	width: 1080px;
	padding-top: 90px;
    margin: 0 auto;
}


#mainbody{
	width:100%;
	position:relative;
	margin-left:0px;
	min-height:650px;
	margin-top:0px;
	padding-left:0;
	padding-right:0;
	overflow-x: hidden;
	overflow-y:visible;
} 


.pagebodybufferMask{
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color: #fff;
    opacity: 0.5;
    filter:alpha(opacity=50); 
	-moz-opacity:0.5;  
    float:left;
    display:block;
    position:absolute;
    z-index:0;
}

#mainbody .mainContent{
	width: 91%;
    display: block;
    margin: 0 auto;
 /*    margin-bottom: 10px; */
    margin: 20px;
    padding-top: 30px;
    position:relative;
    overflow-y:auto;
    margin-left: 50px
}
#mainbody .mainContentOnline{
	width: 91%;
    display: block;
    margin: 0 auto;
 /*    margin-bottom: 10px; */
    margin: 20px;
    padding-top: 30px;
    position:relative;
    margin-left: 50px
}
#mainbody .mainContentTitle{
	width: 91%;
    position:relative;
    margin-left: 50px
}
#mainbody .mainContentIndex{
	width: 91%;
    display: block;
    margin: 0 auto;
 /*    margin-bottom: 10px; */
    margin: 20px;
    padding-top: 30px;
    position:relative;
    overflow-y:auto;
    background: white;
    margin-left: 50px;
    min-height: 111px;
}



#mainbody .outstanding{
	z-index:999;
	position:absolute;
}


#mainbody .component{
	/*z-index:999;*/
	/* margin-bottom:30px; */
	padding-right: 60px;
	position:relative;
}

#mainbody .componentOnline{
	/*z-index:999;*/
	margin-bottom:30px;
	padding-right: 60px;
	position:relative;
	margin-left:50px;
}

#mainbody .animate{
	display:none;
}
#mainbody .animateOnline{
	margin-left: 50px;
}

.fontDiv{
	margin-top: 23px;
    margin-left: 16px
}

.circularText{
	font-size: 20px;
    color: white;
}
	
.background-skin #bufferMask{
	opacity:0.7;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7;  
	height:120%;
	float:left;
	left:0;
	display:block;
	z-index:0;
	position:absolute;
	width:100%;
	background-color:#fff;
	
}



.background-skin{
	background-size: 100% 120%;
	-moz-background-size:100% 120%;
	-webkit-background-size:100% 120%;
	-o-background-size:100% 120%;
}

#headerbody{
	position:relative;
	background-size: 100% 100%;
}

/*不同培训项目默认对应背景图片*/
#headerbody._trainType_2120{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2120.jpg");
}

#headerbody._trainType_2121{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2121.jpg");
}

#headerbody._trainType_2170{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2170.jpg");
}
#headerbody._trainType_2180{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2180.jpg");
}
#headerbody._trainType_2192{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2192.jpg");
}

#headerbody._trainType_2193{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2193.jpg");
}

#headerbody._trainType_2197{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2197.jpg");
}

#headerbody._trainType_2160{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainType_2160.jpg");
}

#headerbody._trainMode_2263{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2263.jpg");
}

#headerbody._trainMode_2264{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2264.jpg");
}

#headerbody._trainMode_2265{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2265.jpg");
}

#headerbody._trainMode_2241{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2241.jpg");
}

#headerbody._trainMode_2242{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2242.jpg");
}

#headerbody._trainMode_2243{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2243.jpg");
}

#headerbody._trainMode_2244{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2244.jpg");
}

#headerbody._trainMode_2255{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2255.jpg");
}

#headerbody._trainMode_2256{
	background-image: url("http://www.casmooc.cn/uploadFile/picturebase/trainMode_2256.jpg");
}

#head2{
	position:relative;
	height:335px;
	overflow:hidden;
	background-size: 100% 100%;
	background-color: rgb(0,0,0);
	opacity:0.3;
	filter:alpha(opacity=30); 
	-moz-opacity:0.3;  
}

#head-content{
	position:absolute;
	top:90px;
	text-align:center;
	z-index:1;
	padding-top:0px;
	width:100%;

}

#head-content #title{
	line-height: 1.2;
    width: 90%;
    margin: 0 auto;
    max-height: 110px;
    min-height: 65px;
    overflow-y: hidden;
}

#menubar{
	position:absolute;
	width:100%;
	bottom:0px;
	background:none;
	padding-left:0px;
	z-index:999;
	background:#04558B;
	
}

#menubar #trainClassMenu{
	z-index:999;
	float: left;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menubar #trainClassMenu li{
	list-style-type: none;
    float: left;
    width: 91px;
    text-align: center;
}

#menubar #trainClassMenu li a{
	font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}


#menubar #trainClassMenu li a:hover{
	color:rgb(255, 120, 0);
	font-weight:bold;
}

#menubar #trainClassMenu li.currentMenu a{
	color:rgb(255, 120, 0);
	font-weight:bold;
}

#menubar #onlineTrainMenu{
	z-index:999;
	float: left;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menubar #onlineTrainMenu li{
	list-style-type: none;
    float: left;
    width: 91px;
    text-align: right;
    padding-left: 140px;
}

#menubar #onlineTrainMenu li a{
	font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    
}


#menubar #onlineTrainMenu li a:hover{
	color:rgb(255, 120, 0);
	font-weight:bold;
}

#menubar #onlineTrainMenu li.currentMenu a{
	color:rgb(255, 120, 0);
	font-weight:bold;
}

#bottombody{
	position:relative;
	background:none;
	color:#000;
}

#bottombody .pagebodybufferMask{
	background-color:#a2a2a2;
}

#bottombody #link{
	background:none;
	z-index:999;
	padding-bottom:0px;
}


#menubar .pagebodybufferMask{
	background-color:#3564D0;
}

#trainInfo{
	
}

#trainInfo .Tag{
  position:absolute;
  top:0;
  left:0;
  width:72px;
  height:72px;
  background:url(/image/training/trainPoster.png) left top no-repeat;
}
.TagOnline{
  position:absolute;
  top:38px;
  left:0;
  width:72px;
  height:72px;
  background: blue;
  border-radius:50px;
}
.TagOnline1{
  position:absolute;
  top:38px;
  left:0;
  width:72px;
  height:72px;
  background: #3367D4;
  border-radius:50px;
}

.TagOnline2{
  position:absolute;
  top:-12px;
  left:0;
  width:72px;
  height:72px;
  background: #4876d8;
  border-radius:50px;
}
.TagOnline3{
  position:absolute;
  top:-12px;
  left:0;
  width:72px;
  height:72px;
  background: #668bdb;
  border-radius:50px;
}
.TagOnline4{
  position:absolute;
  top:-12px;
  left:0;
  width:72px;
  height:72px;
  background: #8498bd;
  border-radius:50px;
}
.tagContent{
	font-size: 20px;
    vertical-align: middle;
    display: table-cell;
    margin-left: 6px;
    padding-left: 35px;
    line-height: 28px;
}

#trainInfo #sponsor div.Tag{
	background-position:0 75%;
}


#trainInfo #target div.Tag {
    background-position: 0 100%;
}

#trainInfo #content div.Tag {
    background-position: 0 50%;
}

#trainInfo #object div.Tag {
    background-position: 0 0%;
}


#trainInfo #comment div.Tag {
    background-position: 0 25%;
}

#item_table{
	width: 98%;
    margin: 0 auto;
    position:relative;
}

#item_table .title{
	width:100%;
	background:none;
}

#item_table table{
	width:100%;
	margin:0
}

#userlist{
	width: 100%;
    margin: 0 auto;
	float:left;
	display:block;
	margin-bottom:30px;
	margin-top: 10px;
	position: relative;
}



#userlist table{
	width:98%;
	margin:0 auto;
}

#userlist table td{
	border: 1px solid #c1c1c1;
    border-left: 1px solid #e1e1e1;
}

#userlist table.homecontenttable tr td.firstTD{
	border-left: 1px solid #c1c1c1;
}

#userlist table.homecontenttable .tableTh th{
	border: 1px solid #b1b1b1;
	position:relative;
}


table.homecontenttable tr td{
	border: 1px solid #c1c1c1;
}



table.homecontenttable .tableTh th{
	border: 1px solid #c1c1c1;
	position:relative;
}

table.homecontenttable tr.tableTh .pagebodybufferMask{
	background-color:#C8C8C8;
	position: absolute;
}

table.homecontenttable tr.tableTh{
	background:none;
}

table.homecontenttable tr.tableTh span{
	display: block;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#mainbody .pager{
 	float: right;
    display: block;
    margin-right: 50px;
    position: relative;
}


#mainbody .notice-list{
	border: none;
    padding: 0px;
    min-height: 110px;
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
}


#mainbody .notice-list p a{
	font-size: 20px;
    float: left;
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    font-family: 'OpenSans',Arial,sans-serif;
}

.notice-title{
	line-height:1.5
}


#notice-content {
    padding: 0px 10px;
    min-height: 400px;
}

.carousel .imgTitle{
	width: 50%;
	height:50px;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    left: 25%;
    z-index: 1001;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 120, 0);
    background: rgba(150,150,150,0.5);
}

.carousel li{
    width: 100%;
    height: 411px;
}

a.btn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 80px;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1rem;
    line-height: 30px;
}


a.btn-success{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    float:right;
    display:none;
}

a.btn-danger{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    float:right;
    display:block;
}


.buttonGroup{
	margin-top: 20px;
    margin-right: 50px;
    float:right;
    display:block;
}

.editArea{
	display:none;
}



.summaryBody{
	position:relative;
	margin: 10px 0;
    padding:48px 48px 60px 48px;
    border-top: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 6px solid #a07e46;
    min-height:200px;
    margin-left: 30px;
    margin-top: 30px;
    width:70%;
}

#otherTrainSummaryBody{
	
}

.commentList div.left{
	float:left;
	margin-left:0px;
	min-height: 100px;
    width: 80%;
    margin-top:10px;
}

.commentList div.right{
	float:right;
	margin-right:0px;
	min-height: 100px;
    width: 80%;
    margin-top:10px;
}

.summaryTitleHead{
	display: block;
	float:left;
    background: #a07e46;
    border-right: 4px solid #c3c3c3;
    color: #fff;
    padding: 8px 20px 8px 44px;
    font-family: 'OpenSans',Arial,sans-serif;
    font-weight: bold;
    line-height: 24px;
   
}

.summaryBody .summaryTitleHead{
	position:absolute;
    top:5px;
    left:0px;
}


.summaryBody .summaryTitle{
	font-size: 22px;
    line-height: 36px;
    -webkit-margin-after: 0.4em;
}


.summaryBody #summaryName{
	height:25px;
	overflow:hidden;
}


.summaryBody .summaryTime{
	padding: 0px 0 15px 0;
	color: #a07e46;
	font-size: 1em;
}

.summaryBody .sectionHeader {
	border-bottom: 2px solid #fff;
	padding-right:100px;
    margin-bottom: 20px;
    float:left;
    display:block;
}


.summaryBody .summaryContent{
	font-size: 14px;
    line-height: 21px;
    font-family: 'OpenSans',Arial,sans-serif;
}

.summaryBody .summaryAttachment{
	position:absolute;
	display:block;
	bottom:4px;
	right:60px;
}

.summaryBody textarea{
	line-height: 2em;
	padding: 5px;
    padding-left: 10px;
    background: none;
    border: 1px solid #ccc;
    font-size: 13px;
    overflow: auto;
}

.summaryBody .editTag{
	position:absolute;
	top:5px;
	right:100px;
}

.summaryBody .deleteTag,.summaryBody .saveTag{
	position:absolute;
	top:5px;
	right:30px;
}

.searchTag{
	position:absolute;
	top:5px;
	right:30px;

}

.editStatus .editArea{
	display:block;
}

.editStatus .showArea{
	display:none;
}


.commentList{
	position: relative;
    min-height: 200px;
    margin: 0 auto;
    width: 98%;
    display: block;
    margin: 0 auto;

}

.commentSearch{
    position: relative;
    width: 300px;
    height: 50px;
    float: left;
    display: block;
    padding-top: 20px;
    font-size: 16px;
    padding-left: 40px;
    margin-top: 20px;
    z-index:1;
}


.sectionHeader .section-header-title {
    font-family: 'OpenSans',Arial,sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    padding: 10px 20px 5px 20px;
    margin: 0 0 -1px 0;
    min-width: 100px;
    text-align: center;
}

.sectionHeader .section-header-title:hover{
	cursor:pointer;
}

.sectionHeader .currentHeader{
	border-bottom: 6px solid #b89173;
}

.sectionHeader .hoverHeader 
{
	border-bottom: 6px solid #b89173;
	cusor:pointer;
}

.sectionHeader .unhoverHeader{
	border-bottom: none;
}

.emptyInfo{
	display: block;
    float: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    color: #777;
}

.courseTime_l{
	margin-left: 40px;
    margin-top: 42px;
    display: inline-block;
    width: 414px;
    height: 158px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.courseTime_l>h3 {
    padding-left: 20px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    background: rgba(16,142,233,0.67);
    height: 53px;
    line-height: 53px;
}

.courseTime_l>h4 {
    font-size: 24px;
    color: #000000;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: 100;
}
.courseTitle{
	font-size: 21px;
    margin-left: 50px;
    margin-top: 7px;
}
.sortBtn{
	margin: 0px 14px 0 0px;
	float: left;
	padding-left: 15px;
    padding-right: 15px;
    min-width: 50px;
    height: 35px;
    line-height: 35px;
    background: white;
    border: 1px solid #108EE9;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.sortBtn:hover{
	background:#108ee9;
}

.sortBtnClick{
	margin: 0px 14px 0 0px;
	float: left;
	padding-left: 15px;
    padding-right: 15px;
    min-width: 50px;
    height: 35px;
    line-height: 35px;
    background: #108EE9;
    border: 1px solid #108EE9;
    text-align: center;
    font-size: 14px;
    color: #fff;
}



.sortBtn a{
    width: 98px;
    height: 30px;
    color: #108EE9;
}
.sortBtnClick a{
	width: 98px;
    height: 30px;
    color: #fff;
}
.sortBtn a:hover{
	color:#fff;
}
.onlineTrainCourse{
	float:left;
	margin-left: 50px;
	width:843px;
	padding:10px;
	margin-top:20px;
	border:1px #d6d6d6 solid;
	background: white;
	}

