<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.trainEva.TeEvaQuestionnaireItemMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.trainEva.TeEvaQuestionnaireItem" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="EvaID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="typeID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="questionNO" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.elearning.pojo.trainEva.TeEvaQuestionnaireItem" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="EvaID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="typeID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="questionNO" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EvaID, typeID, questionNO
  </sql>
  <sql id="Blob_Column_List" >
    title
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from te_evaquestionnaireitem
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from te_evaquestionnaireitem
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.trainEva.TeEvaQuestionnaireItem" >
    insert into te_evaquestionnaireitem (ID, EvaID, typeID, 
      questionNO, title)
    values (#{ID,jdbcType=INTEGER}, #{evaID,jdbcType=INTEGER}, #{typeID,jdbcType=INTEGER}, 
      #{questionNO,jdbcType=INTEGER}, #{title,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.trainEva.TeEvaQuestionnaireItem" >
    insert into te_evaquestionnaireitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="evaID != null" >
        EvaID,
      </if>
      <if test="typeID != null" >
        typeID,
      </if>
      <if test="questionNO != null" >
        questionNO,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="evaID != null" >
        #{evaID,jdbcType=INTEGER},
      </if>
      <if test="typeID != null" >
        #{typeID,jdbcType=INTEGER},
      </if>
      <if test="questionNO != null" >
        #{questionNO,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.trainEva.TeEvaQuestionnaireItem" >
    update te_evaquestionnaireitem
    <set >
      <if test="evaID != null" >
        EvaID = #{evaID,jdbcType=INTEGER},
      </if>
      <if test="typeID != null" >
        typeID = #{typeID,jdbcType=INTEGER},
      </if>
      <if test="questionNO != null" >
        questionNO = #{questionNO,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.elearning.pojo.trainEva.TeEvaQuestionnaireItem" >
    update te_evaquestionnaireitem
    set EvaID = #{evaID,jdbcType=INTEGER},
      typeID = #{typeID,jdbcType=INTEGER},
      questionNO = #{questionNO,jdbcType=INTEGER},
      title = #{title,jdbcType=LONGVARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.trainEva.TeEvaQuestionnaireItem" >
    update te_evaquestionnaireitem
    set EvaID = #{evaID,jdbcType=INTEGER},
      typeID = #{typeID,jdbcType=INTEGER},
      questionNO = #{questionNO,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>