<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.trainEva.TeTrainEvaAssignDeptMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.trainEva.TeTrainEvaAssignDept" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="EvaID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="trainID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="deptID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EvaID, trainID, deptID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from te_trainevaassigndept
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from te_trainevaassigndept
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.trainEva.TeTrainEvaAssignDept" >
    insert into te_trainevaassigndept (ID, EvaID, trainID, 
      deptID)
    values (#{ID,jdbcType=INTEGER}, #{evaID,jdbcType=INTEGER}, #{trainID,jdbcType=INTEGER}, 
      #{deptID,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.trainEva.TeTrainEvaAssignDept" >
    insert into te_trainevaassigndept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="evaID != null" >
        EvaID,
      </if>
      <if test="trainID != null" >
        trainID,
      </if>
      <if test="deptID != null" >
        deptID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="evaID != null" >
        #{evaID,jdbcType=INTEGER},
      </if>
      <if test="trainID != null" >
        #{trainID,jdbcType=INTEGER},
      </if>
      <if test="deptID != null" >
        #{deptID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.trainEva.TeTrainEvaAssignDept" >
    update te_trainevaassigndept
    <set >
      <if test="evaID != null" >
        EvaID = #{evaID,jdbcType=INTEGER},
      </if>
      <if test="trainID != null" >
        trainID = #{trainID,jdbcType=INTEGER},
      </if>
      <if test="deptID != null" >
        deptID = #{deptID,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.trainEva.TeTrainEvaAssignDept" >
    update te_trainevaassigndept
    set EvaID = #{evaID,jdbcType=INTEGER},
      trainID = #{trainID,jdbcType=INTEGER},
      deptID = #{deptID,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>