<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.testPaper.TpaPapersMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.testPaper.TpaPapers" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="paperTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PaperTypeId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fullScore" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="paperDesc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="classifyId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="classifySign" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="operatorID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="strategyId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="strategyType" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, paperTitle, PaperTypeId, fullScore, paperDesc, classifyId, classifySign, operatorID, 
    strategyId, strategyType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tpa_papers
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tpa_papers
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.testPaper.TpaPapers" >
    insert into tpa_papers (ID, paperTitle, PaperTypeId, 
      fullScore, paperDesc, classifyId, 
      classifySign, operatorID, strategyId, 
      strategyType)
    values (#{ID,jdbcType=INTEGER}, #{paperTitle,jdbcType=VARCHAR}, #{paperTypeId,jdbcType=INTEGER}, 
      #{fullScore,jdbcType=INTEGER}, #{paperDesc,jdbcType=VARCHAR}, #{classifyId,jdbcType=BIGINT}, 
      #{classifySign,jdbcType=INTEGER}, #{operatorID,jdbcType=INTEGER}, #{strategyId,jdbcType=INTEGER}, 
      #{strategyType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.testPaper.TpaPapers" >
    insert into tpa_papers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="paperTitle != null" >
        paperTitle,
      </if>
      <if test="paperTypeId != null" >
        PaperTypeId,
      </if>
      <if test="fullScore != null" >
        fullScore,
      </if>
      <if test="paperDesc != null" >
        paperDesc,
      </if>
      <if test="classifyId != null" >
        classifyId,
      </if>
      <if test="classifySign != null" >
        classifySign,
      </if>
      <if test="operatorID != null" >
        operatorID,
      </if>
      <if test="strategyId != null" >
        strategyId,
      </if>
      <if test="strategyType != null" >
        strategyType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="paperTitle != null" >
        #{paperTitle,jdbcType=VARCHAR},
      </if>
      <if test="paperTypeId != null" >
        #{paperTypeId,jdbcType=INTEGER},
      </if>
      <if test="fullScore != null" >
        #{fullScore,jdbcType=INTEGER},
      </if>
      <if test="paperDesc != null" >
        #{paperDesc,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        #{classifyId,jdbcType=BIGINT},
      </if>
      <if test="classifySign != null" >
        #{classifySign,jdbcType=INTEGER},
      </if>
      <if test="operatorID != null" >
        #{operatorID,jdbcType=INTEGER},
      </if>
      <if test="strategyId != null" >
        #{strategyId,jdbcType=INTEGER},
      </if>
      <if test="strategyType != null" >
        #{strategyType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.testPaper.TpaPapers" >
    update tpa_papers
    <set >
      <if test="paperTitle != null" >
        paperTitle = #{paperTitle,jdbcType=VARCHAR},
      </if>
      <if test="paperTypeId != null" >
        PaperTypeId = #{paperTypeId,jdbcType=INTEGER},
      </if>
      <if test="fullScore != null" >
        fullScore = #{fullScore,jdbcType=INTEGER},
      </if>
      <if test="paperDesc != null" >
        paperDesc = #{paperDesc,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        classifyId = #{classifyId,jdbcType=BIGINT},
      </if>
      <if test="classifySign != null" >
        classifySign = #{classifySign,jdbcType=INTEGER},
      </if>
      <if test="operatorID != null" >
        operatorID = #{operatorID,jdbcType=INTEGER},
      </if>
      <if test="strategyId != null" >
        strategyId = #{strategyId,jdbcType=INTEGER},
      </if>
      <if test="strategyType != null" >
        strategyType = #{strategyType,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.testPaper.TpaPapers" >
    update tpa_papers
    set paperTitle = #{paperTitle,jdbcType=VARCHAR},
      PaperTypeId = #{paperTypeId,jdbcType=INTEGER},
      fullScore = #{fullScore,jdbcType=INTEGER},
      paperDesc = #{paperDesc,jdbcType=VARCHAR},
      classifyId = #{classifyId,jdbcType=BIGINT},
      classifySign = #{classifySign,jdbcType=INTEGER},
      operatorID = #{operatorID,jdbcType=INTEGER},
      strategyId = #{strategyId,jdbcType=INTEGER},
      strategyType = #{strategyType,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>

  <select id="findTpaPapersByCondition" resultType="com.elearning.pojo.testPaper.TpaPapers" parameterType="map" >
    select distinct tp.* from tpa_papers tp

    <if test="isValidPaper != null and isValidPaper !=''" >
      ,tpa_paper_questions tpq where tp.id = tpq.Paper_id
    </if>
    <if test="isValidPaper == null or isValidPaper ==''" >
      where 1 = 1
    </if>

    <if test="operatorId != null " >
      and tp.operatorID = #{operatorId,jdbcType=INTEGER}
    </if>
    <if test="paperTitle != null and paperTitle !=''" >
      and tp.paperTitle like CONCAT('%',#{paperTitle},'%')
    </if>
    <if test="classifySign != null and classifySign !=''" >
      and tp.classifySign = #{classifySign,jdbcType=INTEGER}
    </if>
    and tp.PaperTypeId != 2
    order by tp.id desc
  </select>

</mapper>