<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.dao.testPaper.TpaQuestionsMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.pojo.testPaper.TpaQuestions" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="qustioinTypeID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="knowPoint" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="qScore" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="qContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qAnswer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qAnalyze" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="classifyId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="classifySign" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="operatorID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, qustioinTypeID, knowPoint, qScore, qContent, qAnswer, qAnalyze, classifyId, classifySign, 
    operatorID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tpa_questions
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tpa_questions
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elearning.pojo.testPaper.TpaQuestions" >
    insert into tpa_questions (ID, qustioinTypeID, knowPoint, 
      qScore, qContent, qAnswer, 
      qAnalyze, classifyId, classifySign, 
      operatorID)
    values (#{ID,jdbcType=INTEGER}, #{qustioinTypeID,jdbcType=INTEGER}, #{knowPoint,jdbcType=INTEGER}, 
      #{qScore,jdbcType=DOUBLE}, #{qContent,jdbcType=VARCHAR}, #{qAnswer,jdbcType=VARCHAR}, 
      #{qAnalyze,jdbcType=VARCHAR}, #{classifyId,jdbcType=BIGINT}, #{classifySign,jdbcType=INTEGER}, 
      #{operatorID,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.pojo.testPaper.TpaQuestions" >
    insert into tpa_questions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="qustioinTypeID != null" >
        qustioinTypeID,
      </if>
      <if test="knowPoint != null" >
        knowPoint,
      </if>
      <if test="qScore != null" >
        qScore,
      </if>
      <if test="qContent != null" >
        qContent,
      </if>
      <if test="qAnswer != null" >
        qAnswer,
      </if>
      <if test="qAnalyze != null" >
        qAnalyze,
      </if>
      <if test="classifyId != null" >
        classifyId,
      </if>
      <if test="classifySign != null" >
        classifySign,
      </if>
      <if test="operatorID != null" >
        operatorID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="qustioinTypeID != null" >
        #{qustioinTypeID,jdbcType=INTEGER},
      </if>
      <if test="knowPoint != null" >
        #{knowPoint,jdbcType=INTEGER},
      </if>
      <if test="qScore != null" >
        #{qScore,jdbcType=DOUBLE},
      </if>
      <if test="qContent != null" >
        #{qContent,jdbcType=VARCHAR},
      </if>
      <if test="qAnswer != null" >
        #{qAnswer,jdbcType=VARCHAR},
      </if>
      <if test="qAnalyze != null" >
        #{qAnalyze,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        #{classifyId,jdbcType=BIGINT},
      </if>
      <if test="classifySign != null" >
        #{classifySign,jdbcType=INTEGER},
      </if>
      <if test="operatorID != null" >
        #{operatorID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.pojo.testPaper.TpaQuestions" >
    update tpa_questions
    <set >
      <if test="qustioinTypeID != null" >
        qustioinTypeID = #{qustioinTypeID,jdbcType=INTEGER},
      </if>
      <if test="knowPoint != null" >
        knowPoint = #{knowPoint,jdbcType=INTEGER},
      </if>
      <if test="qScore != null" >
        qScore = #{qScore,jdbcType=DOUBLE},
      </if>
      <if test="qContent != null" >
        qContent = #{qContent,jdbcType=VARCHAR},
      </if>
      <if test="qAnswer != null" >
        qAnswer = #{qAnswer,jdbcType=VARCHAR},
      </if>
      <if test="qAnalyze != null" >
        qAnalyze = #{qAnalyze,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        classifyId = #{classifyId,jdbcType=BIGINT},
      </if>
      <if test="classifySign != null" >
        classifySign = #{classifySign,jdbcType=INTEGER},
      </if>
      <if test="operatorID != null" >
        operatorID = #{operatorID,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.pojo.testPaper.TpaQuestions" >
    update tpa_questions
    set qustioinTypeID = #{qustioinTypeID,jdbcType=INTEGER},
      knowPoint = #{knowPoint,jdbcType=INTEGER},
      qScore = #{qScore,jdbcType=DOUBLE},
      qContent = #{qContent,jdbcType=VARCHAR},
      qAnswer = #{qAnswer,jdbcType=VARCHAR},
      qAnalyze = #{qAnalyze,jdbcType=VARCHAR},
      classifyId = #{classifyId,jdbcType=BIGINT},
      classifySign = #{classifySign,jdbcType=INTEGER},
      operatorID = #{operatorID,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>